.sql-Manager-Content {
    font-size: 90%;
    position: absolute;
    margin: 20px;
    padding: 10px;
    width: 550px;
    border:1px solid var(--main-border-color);
    background-color: whitesmoke;
    color: var(--toolbar-background-color);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 3px #aaaaaa;
    line-height: 20px;
    z-index: 99;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.sql-Manager-Content .content-container{
    width: 100%;
    height: 250px;
}

.sql-Manager-Content .table-container{
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: relative;
    float: left;
}

.sql-Manager-Content .edit-container{
    width: 100%;
    height: 100%;
    position: relative;
    float: left;
}

.sql-Manager-Content .tools-container{
    width: 100%;
    height: 36px;
    position: relative;
    float: left;
}

.sql-Manager-Content .sql-Manager-Content-sql {
    position: relative;
    float: left;
    width: 98.9%;
    height: 90.5%;
    resize: none;
    font-size: 90%;
    color: var(--toolbar-background-color);
    border-radius: 5px;
}

.sql-Manager-Content .sql-Manager-Content-sql:hover {
    outline-style: none;
    border:1px solid var(--main-border-color);
}
.sql-Manager-Content .sql-Manager-Content-sql:enabled {
    outline-style: none;
    border:1px solid var(--main-border-color);
}

.sql-Manager-Content-name {
    margin-bottom: 1px;
    margin-top: 1px;
    width: 99.7%;
    height: 9%;
    cursor: pointer;
    color: var(--toolbar-background-color);
    outline-style: none;
    border:1px solid var(--main-border-color);
    border-radius: 5px;
}
.sql-Manager-Content-name:hover{
    outline-style: none;
}
.sql-Manager-Content-name:enabled{
    outline-style: none;
}
