:root {
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    zoom: 1;
}

::-webkit-scrollbar {
    width: 5px;
    height: 4px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: var(--toolbar-background-color);
    background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.2) 50%,
            rgba(255, 255, 255, 0.2) 75%,
            transparent 75%,
            transparent
    );
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background: transparent;
    border-radius: 3px;
}

body {
    background-color: var(--main-background-color);
    background-image: var(--main-background-image);
    background-repeat: var(--main-background-image-repeat);
    background-size: var(--main-background-image-size);
    background-attachment: var(--main-background-image-attachment);
}

.header{
    border-bottom:1px solid var(--main-border-color);
    margin-bottom:5px;
    height: 50px;
    width: 100%;
}

a:link {color:#FF00FF;}
a:visited {color:#C71585;}
a:hover {color:#C71585;}
a:active {color:#FF00FF;}

img.logo {
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

img.title_close_button{
    float: right;
}

img.title_close_button:hover{
    background-color: var(--toolbar-background-color);
    border-radius: 10px;
    box-shadow: 1px 1px 2px grey;
}

#title{
    height: 50px;
    cursor: pointer;
}
#main-title{
    color: var(--main-title-color);
    margin-bottom: 0px;
    height: 34px;
    cursor: pointer;
}
#main-version{
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 30%;
    color:snow;
    background-color: sandybrown;
    outline-style: none;
    border-radius: 4px;
    cursor: pointer;
}
#sub-title{
    color:var(--sub-title-color);
    margin-left: 15px;
    font-size: 50%;
    cursor: pointer;
}
#link-title{
    margin-left:25px;
    margin-top: 0px;
    font-size: 25%;
    font-weight: bolder;
    cursor: pointer;
}
#user{
    line-height: 50px;
    color:var(--sub-title-color);
    margin-left: 15px;
    margin-right: 15px;
    font-size: 60%;
    cursor: pointer;
    float: right;
    min-width: 150px;
}

#user img {
    margin-top: 13px;
    width: 25px;
    height: 25px;
    float: left;
    text-align: center;
    background-color: transparent;
    color: var(--main-title-color);
}
#time{
    height: 50px;
    float: right;
    cursor: pointer;
}

#copyright {
    cursor: pointer;
}

.error-dialog {
    font-size: 100%;
    position: fixed;
    margin: 10px;
    padding: 10px;
    top:10px;
    left:10px;
    width: 450px;
    border:1px solid var(--main-border-color);
    background-color: whitesmoke;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 2px 2px 3px #aaaaaa;
    line-height: 18px;
    color: var(--toolbar-background-color);
    z-index: 9999;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.error-dialog .detail{
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    width: 98%;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    overflow: hidden;
    height: 100%
}

.error-dialog .name{
    font-size: 100%;
    padding-left: 5px;
    padding-right: 5px;
    color: snow;
    background-color: #00A7AA;
    outline-style: none;
    border-radius: 4px;
}

.error-dialog .message{
    font-size: 80%;
    padding-left: 5px;
    padding-right: 5px;
    color: snow;
    background-color: saddlebrown;
    outline-style: none;
    border-radius: 4px;
}

.error-dialog .stack{
    font-family: Verdana,Arial;
    font-size: 10%;
    width: 100%;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.MainContainer{
    width:100%;
    height: 600px;
    position: static;
    margin: 0px;
    padding: 0px;

}
.sidebar{
    width:320px;
    float:left;
    border-right:1px solid var(--main-border-color);
    border-bottom:1px solid var(--main-border-color);
    height:100%;
    padding:0px;
}

.main{
    width:60%;
    float:left;
    border-right:1px solid var(--main-border-color);
    border-bottom:1px solid var(--main-border-color);
    height:100%;
    padding:0px;
    margin: 0px;
    position: relative;
}

.detail{
    float: left;
    width:320px;
    border-right:1px solid var(--main-border-color);
    border-bottom:1px solid var(--main-border-color);
    height:100%;
    padding:0px;
    margin: 0px;
    position: relative;
}

.messageContainer {
    width: 100%;
    height: 50%;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
}

.detail .dt {
    cursor: pointer;
    font-size: 80%;
    color: var(--detail-dt-color);
    margin-left: 10px;
    margin-right: 5px;
    /*white-space: normal;word-break: break-all;word-wrap: break-word;*/
}

.detail .message {
    color:var(--detail-message-color);
}

.detail .message:hover {
    color: var(--detail-message-hover-color);
}

.toolbar {
    background-color: var(--toolbar-background-color);
    color: var(--toolbar-color);
    width: 100%;
    height: 36px;
    line-height: 36px;
    padding: 0px;
    float: left;
    margin: 0px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity 2s;
    -webkit-animation: content-show 2s 1; /*infinite; /* Chrome, Safari, Opera */
    animation: content-show 2s 1; /*infinite;*/
    box-shadow: inset 0px 0 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
}

.toolbar:hover{
    opacity: 1;
}

.pageTabBar {
    background-color: transparent;
    color: var(--toolbar-background-color);
    width: 100%;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    float: left;
    margin: 0px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 0px;
    font-size: 100%;
    /*border-top:1px solid var(--tab-border-color);*/
}

.pageTabBar #data-page-tools-current{
    float: right;
    cursor: pointer;
    width: 60px;
    font-size: 100%;
    text-align: center;
}

.pageTabBar .data-page-tools-page{
    float: right;
    cursor: pointer;
    width: 50px;
    text-align: center;
    border-right:1px solid var(--toolbar-background-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 36px;
}

.pageTabBar #toup{
    width: 30px;
    border: 0px solid var(--toolbar-background-color);
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.pageTabBar #todown {
    width: 30px;
    border: 0px solid var(--toolbar-background-color);
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pageTabBar .data-page-tools-page:hover {
    background-color: var(--toolbar-button-hover-background-color);
}

.pageTabBar .data-page-tools-tab{
    float: left;
    cursor: pointer;
    width: 50px;
    font-size: 100%;
    text-align: center;
    color:var(--toolbar-background-color);
    border-right:1px solid var(--toolbar-background-color);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 36px;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.pageTabBar .data-page-tools-tab:hover{
    color: var(--tab-selected-color);
    border-right:1px solid var(--toolbar-background-color);
    background-color: var(--toolbar-background-color);
}

.databases{
    width:100%;
    height: 250px;
    float:left;
    overflow: scroll;
    color: var(--toolbar-background-color);
}

.tables{
    width:100%;
    float:left;
    height: 250px;
    overflow: scroll;
    color: var(--toolbar-background-color);
}

.toolbar .button {
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 36px;
    margin: 0px;
    cursor: pointer;
    float: left;
    position: relative;
    border-radius: 5px;
}

.toolbar .button:hover{
    color:var(--toolbar-button-hover-color);
    background-color: var(--toolbar-button-hover-background-color);
}

.toolbar .charButton{
    height: 36px;
    width: 36px;
    text-align: center;
    font-size: 100%;
    line-height: 36px;
    margin: 0px;
    cursor: pointer;
    float:left;
    position: relative;
    border:1px solid var(--toolbar-background-color);
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.toolbar .charButton:hover{
    color:var(--toolbar-button-hover-color);
    background-color: var(--toolbar-button-hover-background-color);
    -webkit-animation: mytransform 3s infinite; /* Chrome, Safari, Opera */
    animation: mytransform 3s infinite;
}

.toolbar #sql-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 20px;
    min-width: 150px;
    max-width: 300px;
    text-align: center;
    font-size: 90%;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid var(--toolbar-background-color);
    border-radius: 10px;
}

.toolbar #sql-title:hover {
    color:var(--toolbar-button-hover-color);
    border: 1px solid var(--toolbar-color);
    background-color: var(--toolbar-button-hover-background-color);
}

.tabToolbar {
    background-color: transparent;
    color: var(--toolbar-color);
    width:100%;
    height: 36px;
    line-height: 36px;
    padding:0px;
    float:left;
    margin: 0px;
    position: relative;
    white-space: nowrap;
    overflow:hidden;
}

.tabToolbar-content-container {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid var(--main-border-color);
    overflow: scroll;
}

.tabToolbar .tabButton, .tabToolbar select{
    background-color: var(--toolbar-background-color);
    color: var(--toolbar-color);
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 60px;
    max-width: 100px;
    text-align: center;
    line-height: 36px;
    margin-right: 1px;
    cursor: pointer;
    float:left;
    position: relative;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabToolbar .tabButton:hover, .tabToolbar select:hover{
    border-top-style:solid;
    border-top-color: lightgreen;
    border-top-width: 2px;
    color:var(--toolbar-button-hover-color);
    background-color: var(--toolbar-button-hover-background-color);
}

.toolbar select {
    background-color: var(--toolbar-background-color);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100px;
    float: right;
    height: 100%;
    color: var(--toolbar-color);
    outline-style: none;
    border: 0px;
    border-radius: 18px;
}

.toolbar select:hover {
    background-color: var(--toolbar-button-hover-background-color);
}

.groupbar {
    width:100%;
    height: 36px;
    line-height: 36px;
    padding:0px;
    float:left;
    margin: 0px;
    position: relative;
    white-space: nowrap;
    overflow:hidden;
}

.groupbar .button{
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 36px;
    margin: 0px;
    cursor: pointer;
    float:left;
    position: relative;
    background-color: transparent;
    border: none;
    outline:none;
    color: var(--toolbar-background-color);
    text-decoration: none;
    border-radius: 5px;
}

.groupbar .button::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--toolbar-button-tooltip-background-color) transparent transparent transparent;
}

.groupbar .button:focus{
    color:var(--toolbar-button-hover-color);
    background-color: var(--toolbar-button-hover-background-color);
    box-shadow: 2px 2px 3px #aaaaaa;
}

.groupbar .button:hover{
    color:var(--toolbar-button-hover-color);
    background-color: var(--toolbar-button-hover-background-color);
    box-shadow: 2px 2px 3px #aaaaaa;
}

.database-list {
    list-style-type: disc;
    color:var(--list-color);
}

.database-list li {
    list-style-type: disc;
    list-style-image: none;
    font-size: 90%;
}

.database-list .list {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    cursor: pointer;
    -webkit-animation: content-show 2s 1;
    animation: content-show 2s 1;
}

.database-list .list:hover {
    color: var(--list-hover-color);
    font-weight: bolder;
}

.table-list {
    list-style-type: disc;
    color:var(--list-color);
}

.table-list .table-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    cursor: pointer;
    -webkit-animation: content-show 2s 1;
    animation: content-show 2s 1;
}

.table-list .table-name:hover {
    color: var(--list-hover-color);
    font-weight: bolder;
}

.table-list li {
    list-style-type: disc;
    list-style-image: none;
    font-size: 90%;
}

.table-list .column-name {
    float: left;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    -webkit-animation: content-show 2s 1;
    animation: content-show 2s 1;
}

.table-list .column-name:hover {
    color:var(--list-hover-color);
    font-weight: bold;
}

.table-list .column-type {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-align: left;
    -webkit-animation: content-show 2s 1;
    animation: content-show 2s 1;
}

.table-list .column-type:hover {
    color:var(--list-hover-color);
    font-weight: bolder;
}

.sqlContainer{
    width: 100%;
    float: left;
    margin: 0px;
    padding: 0px;
    height: 250px;
    font-size: 100%;
}

.tableContainer {
    position: relative;
    margin: 2px;
    font-size: 95%;
    width: 100%;
    float: left;
    height: 61%;
    overflow: scroll;
}

.table {
    margin: 1px;
    line-height: 12px;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    min-width: 50%;
    max-width: 200%;
    border: 1px solid var(--table-border-color);
    border-radius: 5px;
    background-color: var(--table-background-color);
    opacity: 0.7;
    transition: opacity 2s;
    -webkit-animation: content-show 2s 1; /*infinite; /* Chrome, Safari, Opera */
    animation: content-show 2s 1; /*infinite;*/
}
.table:hover{
    opacity: 1;
}

.table tr {
    height: 25px;
}

.table tr:hover{
    background-color: var(--table-tr-hover-background-color);
    color:var(--table-td-before-color);
}

.table tr.alt-line:hover {
    background-color: var(--table-tr-hover-background-color);
    color:var(--table-td-before-color);
}

.table td {
    margin: 2px;
    border:1px solid var(--table-td-border-color);
    padding:3px 3px 2px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table td:hover {
    border-bottom: 2px solid var(--table-td-hover-border-color);
}

.table th {
    margin: 0px;
    border: 1px solid var(--table-td-border-color);
    padding: 3px 3px 2px 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bolder;
    text-align: center;

    background-color: var(--table-th-background-color);
    color: var(--table-th-before-color);
    border-bottom: 1px solid var(--table-border-color);
}

.table th .column {
    color: var(--table-th-before-color);
    cursor: pointer;
}

.table th .menu {
    float: left;
    color: var(--table-th-before-color);
    cursor: pointer;
    margin-left: 1px;
    list-style-type: none;
}

 .table th .column:hover {
     color: saddlebrown;
 }

 .table th .menu:hover {
    color: saddlebrown;
}

.table tr.alt-line {
    color:#000000;
    background-color:var(--table-alt-tr-background-color);
}

.table-column-menu {
    font-weight: normal;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    width: 50px;
    display: none;
}

.table-column-menu li {
    font-size: 80%;
    color: #000000;
    background-color: #EAF2D3;
    display: block;
    text-align: left;
    text-decoration: none;
    width: 104px;
    height: 23px;
    border-bottom: var(--main-border-color) 1px solid;
    line-height: 22px;
    border-radius: 3px
}

.table-column-menu li:hover {
    color: #000000;
    background-color: #FFFFCC;
}

.footer {
    margin:auto;
    margin-top: 6px;
    padding: 0px;
    border-bottom:1px solid var(--main-border-color);
    border-right:1px solid var(--main-border-color);
    height: 180px;
    width: 100%;
    font-size: 75%;
    color: var(--footer-color);
    float: left;
    overflow: scroll;
    display: block;

    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    column-fill: auto; /*balance;*/
    -webkit-animation: content-show 2s 1;
    animation: content-show 2s 1;
}

.footer dl{
    margin: auto;
    line-height: 175%;
}

.footer li:hover{
    cursor: pointer;
    color:var(--footer-dt-hover-color);
}

.footer select{
    color:snow;
    background-color: sandybrown;
    outline-style: none;
    border-radius: 4px;
    font-size: 90%;
    border: none;
}

.footer span{
    padding-left: 5px;
    padding-right: 5px;
    color:snow;
    background-color: #00A7AA;
    outline-style: none;
    border-radius: 4px;
}

.footer span.clickable{
    color:snow;
    background-color: sandybrown;
}


.echarts-container {
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.sqlediter {
    display: none;
}

.CodeMirror {
    font-size: 110%;
    line-height:150%;
}

hr {
    height:1px;
    border-width:0;
    color:gray;
    background-color: var(--hr-color);
    width: 100%;
    position: static;
}

hr.br{
    /*空白行*/
    height:10px;
    border-width: 0;
    color:transparent;
    background-color:transparent;
    width: 100%;
    position: static;
}

.multi-echarts {
    font-size: 90%;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0px solid var(--main-border-color);
    border-radius: 4px;
    box-sizing: border-box;
    line-height: 100%;
    z-index: 99;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.multi-echarts-list{
    display: none;
    position: absolute;
    top:25%;
    color:var(--toolbar-color);
    background-color: var(--toolbar-background-color);
    width:300px;
    border-top:1px solid var(--main-border-color);
    border-right:1px solid var(--main-border-color);
    border-bottom:1px solid var(--main-border-color);
    height:50%;
    padding:0px;
    overflow: scroll;
    z-index: 99;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.multi-echarts-list-row{
    margin: 4px;
    position: relative;
    float: left;
    cursor: pointer;
    min-height: 40px;
    width: 100%;
    border-bottom:1px solid var(--toolbar-color);
    opacity: 0.8;
}
.multi-echarts-list-row:hover{
    opacity: 1;
}

.multi-echarts-list-row span{
    padding-left: 5px;
    padding-right: 5px;
    outline-style: none;
    border-radius: 4px;
    background-color: sandybrown;
}
.multi-echarts-list-row span.clickable{
    color:sandybrown;
    background-color: transparent;
    float: right;
}

.multi-layouts-list {
    display: none;
    position: absolute;
    top:25%;
    color:var(--toolbar-color);
    background-color: var(--toolbar-background-color);
    width:300px;
    border-top:1px solid var(--main-border-color);
    border-left:1px solid var(--main-border-color);
    border-bottom:1px solid var(--main-border-color);
    height:50%;
    padding:0px;
    overflow: scroll;
    z-index: 99;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.multi-layouts-list-row {
    position: relative;
    float: left;
    cursor: pointer;
    width: 100%;
    height: 135px;
    border-bottom: 1px solid var(--main-border-color);
    opacity: 0.8;
}

.multi-layouts-list-row:hover{
    opacity: 1;
}

.multi-layouts-list-row .title {
    color: sandybrown;
    background-color: transparent;
    margin: 5px;
    min-height: 16px;
    border-radius: 8px;
}

.multi-layouts-list-row .title:hover {
    font-weight: bolder;
    color: whitesmoke;
    background-color: sandybrown;
}

.multi-layouts-list-row span.clickable {
    float: right;
}

.multi-layouts-list-row span{
    padding-left: 5px;
    padding-right: 5px;
    outline-style: none;
    border-radius: 4px;
}

.multi-layouts-list-row textarea{
    width: 95%;
    height: 55px;
    padding-left: 5px;
    padding-right: 5px;
    outline-style: none;
    border-radius: 4px;
}

.multi-echarts-view {
    position: absolute;
    width: 100%;
    float: left;
    height: 100%;
    padding: 0px;
    text-align: center;
    color: sandybrown;
}

.multi-echarts-view-contain {
    margin: 3px;
    border: 1px dotted sandybrown;
    color: sandybrown;
    text-align: center;
    overflow: hidden;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes content-show {
    0% {
        opacity: 0;
        color: whitesmoke;
    }
    100% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes content-show {
    0% {
        opacity: 0;
        color: transparent;
    }
    100% {
        opacity: 1;
    }

}

.drag-nook {
    position: absolute;
    -webkit-animation: drag-nook-reset 1s 1;
    animation: drag-nook-reset 1s 1;
    width: 16px;
    height: 16px;
    z:100;
}
.drag-nook:hover {
    -webkit-animation: drag-nook-show 1s 1;
    animation: drag-nook-show 1s 1;
    width: 100px;
    height: 100px;
}

@keyframes drag-nook-reset
{
	from {width:100px;height: 100px;}
	to {width:16px;height:16px;}
}

@-webkit-keyframes drag-nook-reset /*Safari and Chrome*/
{
	from {width:100px;height: 100px;}
	to {width:16px;height:16px;}
}


@keyframes drag-nook-show
{
	from {width:16px;height: 16px;}
	to {width:100px;height:100px;}
}

@-webkit-keyframes drag-nook-show /*Safari and Chrome*/
{
	from {width:16px;height: 16px;}
	to {width:100px;height:100px;}
}

#qrcode {
    position: absolute;
    border: 1px solid #ffffff;
}

#qrcode #qrcode_logo {
    position: absolute;
    border: 1px solid var(--main-border-color);
}

input, select {
    background-color: transparent;
    color: var(--toolbar-background-color);
    outline-style: none;
    border: 0px;
    border-bottom: 1px solid var(--main-border-color);
}

input[type = "password"]{
    letter-spacing: 5px;
}

textarea {
    color: var(--toolbar-background-color);
    border-radius: 5px;
}

textarea:hover {
    outline-style: none;
    border:1px solid var(--main-border-color);
}
textarea:enabled {
    outline-style: none;
    border:1px solid var(--main-border-color);
}

.ui-container-background {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 999
}

.ui-container-body {
    line-height: 20px;
    font-size: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    padding: 10px;
    width: 350px;
    border: 1px solid var(--main-border-color);
    background-color: whitesmoke;
    color: var(--toolbar-background-color);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: inset 0px 0 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    z-index: 9999;
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.ui-container-title{
    width: 100%;
    cursor: move;
    line-height: 24px;
    height: 24px;
    color: var(--toolbar-background-color);
    border-radius: 12px;
    display: table;
    background-repeat: no-repeat;
}

.ui-container-title:hover{
    background-color: var(--toolbar-button-hover-background-color);
    color: whitesmoke;
}

.ui-container-title span {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    float: left;
    margin-left: 24px;
}

ui-container-logo {
    float: left;
    display: table-cell;
    vertical-align: middle;
}

.ui-container-hr{
    height: 1px;
    border-width: 0;
    color: gray;
    background-color: var(--main-border-color);
    width: 100%;
}

.ui-container-close{
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    float: right;
}

.ui-container-scroll-div {
    position: relative;
    font-size: 100%;
    width: 100%;
    float: left;
    height: 300px;
    overflow: scroll;
}

.ui-container-item {
    line-height: 16px;
    width: 100%;
    min-height: 26px;
    vertical-align: bottom;
}

.ui-container-item:hover {
    font-weight: bolder;
}

.ui-container-item-name {
    width: 30%;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 100%;
    height: 100%;
    background-color: transparent;
    color: var(--main-title-color);
    cursor: pointer;
    vertical-align: bottom;
}

.ui-container-item-checkbox {
    float: left;
    vertical-align: bottom;
}

.ui-container-item-radio {
    float: left;
    vertical-align: bottom;
}

input[type=range] {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 6px solid var(--main-border-color);
    height: 16px;
    width: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.ui-container-item-range {
    float: left;
    width: 68%;
    vertical-align: middle;
}

.ui-container-item-number {
    float: left;
    width: 68%;
    vertical-align: middle;
}

.ui-container-item-input {
    cursor: pointer;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    width: 70%;
    float: left;
    height: 100%;
    vertical-align: bottom;
}

.ui-container-item-select {
    cursor: pointer;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    width: 70%;
    float: left;
    height: 100%;
    vertical-align: bottom;
    border-bottom: 1px solid var(--main-border-color);
}

.ui-container-item-color {
    cursor: pointer;
    font-size: 90%;
    padding: 0px;
    margin: 0px;
    width: 70%;
    float: left;
    height: 100%;
    vertical-align: bottom;
    border-bottom: 1px solid var(--main-border-color);
}

.ui-container-item-boolean {
    cursor: pointer;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
    width: 70%;
    float: left;
    min-height: 16px;
    height: 100%;
    vertical-align: bottom;
    border-bottom: 1px solid var(--main-border-color);
}

#ui-progress {
    position: relative;
    margin: auto;
    margin-top: 5px;
    border: var(--main-border-color) 1px solid;
    width: 100%;
    /*height: 18px;*/
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
}

#ui-progress-value {
     position: relative;
    /*margin: auto;*/
    width: 0%;
    /*height: 18px;*/
    background-color: var(--toolbar-background-color);
    border-radius: 4px;
    text-align: center;
    font-size: 80%;
    /*line-height: 18px;*/
    color: var(--toolbar-button-tooltip-color);
}

#ui-progress-container{
    position: relative;
    width:100%;
}

#ui-progress-detail{
    margin-top: 5px;
    width: 100%;
    float:left;
    height: 300px;
    overflow: scroll;
    position: relative;
}

.ui-progress-detail-item{
    margin-bottom: 1px;
    width:100%;
    float: left;
    /*height: 18px;*/
    color: var(--toolbar-button-tooltip-color);
    white-space: nowrap;
}

.ui-progress-detail-item span {
    display: inline-block;
    margin-left: 1px;
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    width: 15px;
    background-color: var(--toolbar-background-color);
    outline-style: none;
    border-radius: 4px;
    text-align: center;
    font-size: 50%;
    cursor:pointer;
}

.ui-progress-detail-item .ui-progress-detail-item-index {
    width: 10%;
}
.ui-progress-detail-item .ui-progress-detail-item-index:hover {
    background-color:sandybrown;
}

.ui-progress-detail-item .ui-progress-detail-item-lines{
    width: 6%;
    background-color:Turquoise;
}

.ui-progress-detail-item .ui-progress-detail-item-size {
    width: 15%;
}

.ui-progress-detail-item .ui-progress-detail-item-queue {
    width: 26%;
}

.ui-progress-detail-item .ui-progress-detail-item-imported {
    width: 6%;
    background-color:Turquoise;
}

.ui-progress-detail-item .ui-progress-detail-item-commit {
    width: 20%;
}

.ui-progress-detail-item .ui-progress-detail-item-error {
    width: 60%;
}

.ui-container-help {
    cursor: pointer;
    line-height: 23px;
    font-size: 130%;
    position: absolute;
    margin: 10px;
    padding: 10px;
    width: 400px;
    /*background: rgba(0, 50, 50, 0.5);*/
    background: var(--toolbar-background-color);
    color: var(--toolbar-color);
    border: 1px solid var(--main-border-color);
    border-radius: 16px;
    z-index: 99;
    box-shadow: inset 0px 0 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-animation: content-show 1s 1;
    animation: content-show 1s 1;
}

.ui-container-help .message {
    width: 100%;
    float: left;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: transparent;
    min-height: 100px;
    text-shadow: 0 -1px #021014;
}

.ui-tooltip {
    display: block;
    position: fixed;
    line-height: 14px;
    background: var(--toolbar-background-color);
    color: var(--toolbar-color);
    border: 1px solid var(--main-border-color);
    text-align: center;
    padding: 5px 0;
    z-index: 99;
    font-size: 8px;
    box-shadow: inset 0px 0 12px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0 12px 0px rgba(0,0,0,0.75);
    -webkit-animation: content-show 2s 1;/*infinite; /* Chrome, Safari, Opera */
    animation: content-show 2s 1;/*infinite;*/
}

.ui-tooltip .message {
    width: 80%;
    float: left;
    margin-left: 8px;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-color: transparent;
    min-height: 100px;
    text-shadow: 0 -1px #021014;
}


.http-server-datetime {
    cursor: pointer;
    float: left;
    color: var(--toolbar-background-color);
}

/* Chrome, Safari, Opera 摆动45*/
@-webkit-keyframes mytransform {
    0% {
        -webkit-transform: rotate(-45deg);
    }
    25% {
        -webkit-transform: rotate(90deg);
    }
    50% {
        -webkit-transform: rotate(-90deg);
    }
    75% {
        -webkit-transform: rotate(90deg);
    }
    100% {
        -webkit-transform: rotate(-90deg);
    }
}

/* Standard syntax  摆动45*/
@keyframes mytransform {
    0% {
        transform: rotate(-45deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(-90deg);
    }
    75% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(-90deg);
    }
}
