/**************************************************************
公共主题变量(Themes)
在每个页面head标签中加入:
<link id="themes" rel="stylesheet" type="text/css" href="default.css">
或
<link id="themes" rel="stylesheet" type="text/css" href="black.css">
并根据具体情况引用
杨凯
2020-3-6
****************************************************************/
:root {
    --main-font-family: sans-serif, Arial, "Microsoft Yahei", "微软雅黑";
    --main-font-size: 14px;
    --main-border-color: #0c7ab2;
    --main-title-color: #0c7ab2; /*#20B2AA*/
    --sub-title-color: #0c7ab2;

    --main-background-color: #003355;
    /*主背景颜色default:#383838*/
    /*--main-background-image: linear-gradient(to bottom,var(--main-background-color),var(--main-background-color));*/
    --main-background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    /*CSS3 IE10以下不支持*/
    /*主背景图片,default:url(background.jpg)*/
    --main-background-image-size: auto;
    --main-background-image-repeat: repeat;
    --main-background-image-attachment: scroll;

    --hr-color: whitesmoke;

    --toolbar-background-color: #0c7ab2;
    /*工具条背景颜色default:#A52A2A*/
    --toolbar-color: whitesmoke;
    /*工具条颜色default:white*/
    --toolbar-button-hover-background-color: darkgoldenrod;
    /*工具条按钮背景颜色default:#A52A2A*/
    --toolbar-button-hover-color: whitesmoke;
    /*工具条按钮颜色default:#A52A2A*/
    --toolbar-button-tooltip-background-color: #0c7ab2;
    --toolbar-button-tooltip-color: whitesmoke;


    --list-color: #0c7ab2;
    --list-hover-color: sandybrown;

    --detail-dt-color: sandybrown;
    --detail-message-color: #0c7ab2;
    --detail-message-hover-color: salmon;

    --footer-color: #0c7ab2;
    --footer-dt-hover-color: sandybrown;

    --table-border-color: #ADD8E6;
    --table-background-color: #ccfcff;
    --table-th-before-color: #DCDCDC;
    --table-td-before-color: black;
    --table-th-background-color: #0c7ab2;
    --table-tr-background-color: #0c7ab2;
    --table-alt-tr-background-color: #E0FFFF;
    --table-tr-hover-background-color: #98b2b1;
    --table-td-border-color: #ADD8E6;
    --table-td-hover-border-color: salmon;

    --drag-border-color: salmon;

    --copyright_color: gray;
    /*版权说明颜色*/
    --copyright_hover_color: #FF8000;
    /*版权说明热点颜色*/

    --tab-border-color: whitesmoke;
    --tab-color: whitesmoke;
    --tab-selected-color: red;
    --tab-selected-backgroud-color: sandybrown;
    --tab-hover-color: #FFE4B5;

}