
:root{
    --main-font-family: sans-serif, Arial,"Microsoft Yahei","微软雅黑";
    --main-font-size: 14px;
    --main-border-color:#C71585;
    --main-title-color:#C71585;
    --sub-title-color:#C71585;

    --main-background-color: #F0F0F0;

    /*CSS3 IE10以下不支持*/
    /*主背景图片,default:url(background.jpg)*/
    --main-background-image-size: auto;
    --main-background-image-repeat: repeat;
    --main-background-image-attachment: scroll;

    --hr-color: sandybrown;

    --toolbar-background-color: #C71585;
    /*工具条背景颜色default:#A52A2A*/
    --toolbar-color:whitesmoke;
    /*工具条颜色default:white*/
    --toolbar-button-hover-background-color:darkgoldenrod;
    /*工具条按钮背景颜色default:#A52A2A*/
    --toolbar-button-hover-color:whitesmoke;
    /*工具条按钮颜色default:#A52A2A*/
    --toolbar-button-tooltip-background-color:#C71585;
    --toolbar-button-tooltip-color:whitesmoke;

    --list-color:#C71585;
    --list-hover-color:sandybrown;

    --detail-dt-color:salmon;
    --detail-message-color:#C71585;
    --detail-message-hover-color:salmon;

    --footer-color:#C71585;
    --footer-dt-hover-color:sandybrown;

    --table-border-color:#C71585;
    --table-background-color:#F5F5DC;
    --table-th-before-color:#DCDCDC;
    --table-td-before-color:black;
    --table-th-background-color: #F08080;
    --table-tr-background-color:#F5F5DC;
    --table-alt-tr-background-color:#FFB6C1;
    --table-tr-hover-background-color:#FF7F50;
    --table-td-border-color:#FF1493;
    --table-td-hover-border-color:salmon;

    --drag-border-color: dodgerblue;


    --copyright_color:gray;
    /*版权说明颜色*/
    --copyright_hover_color:#FF8000;
    /*版权说明热点颜色*/

    --tab-border-color: whitesmoke;
    --tab-color: whitesmoke;
    --tab-selected-color: red;
    --tab-selected-backgroud-color: salmon;
    --tab-hover-color: dodgerblue;

}