/*
    Name:       pink
    Author:     yangkai
*/


.cm-s-pink.CodeMirror {
  background-color: #F5F5DC !important;
  color: #F08080 !important;
  border: none;
}

.cm-s-pink .CodeMirror-gutters {
  color: #adaba6;
  background-color: #FFB6C1;
  border: none;background-image: var(--main-background-image);
}
.cm-s-pink .CodeMirror-cursor { border-left: solid thin #FFB6C1; }
.cm-s-pink .CodeMirror-linenumber { color: #adaba6; }
.cm-s-pink.CodeMirror-focused div.CodeMirror-selected { background: #FFB6C1; }
.cm-s-pink .CodeMirror-line::selection, .cm-s-pink .CodeMirror-line > span::selection, .cm-s-pink .CodeMirror-line > span > span::selection { background: #DCD8D2; }
.cm-s-pink .CodeMirror-line::-moz-selection, .cm-s-pink .CodeMirror-line > span::-moz-selection, .cm-s-pink .CodeMirror-line > span > span::-moz-selection { background: #DCD8D2; }
.cm-s-pink span.cm-comment { color: #d4c8be; }
.cm-s-pink span.cm-string, .cm-s-pink span.cm-string-2 { color: #FF4500; }
.cm-s-pink span.cm-number { color: #FF7F50; }
.cm-s-pink span.cm-variable { color: #55b5db; }
.cm-s-pink span.cm-variable-2 { color: #C71585; }
.cm-s-pink span.cm-def { color: #55b5db; }
.cm-s-pink span.cm-operator { color: #F08080; }
.cm-s-pink span.cm-keyword { color: #C71585; }
.cm-s-pink span.cm-atom { color: #C71585; }
.cm-s-pink span.cm-meta { color: #96c0d8; }
.cm-s-pink span.cm-tag { color: #96c0d8; }
.cm-s-pink span.cm-attribute { color: #F08080; }
.cm-s-pink span.cm-qualifier { color: #96c0d8; }
.cm-s-pink span.cm-property { color: #C71585; }
.cm-s-pink span.cm-builtin { color: #C71585; }
.cm-s-pink span.cm-variable-3, .cm-s-pink span.cm-type { color: #96c0d8; }
.cm-s-pink .CodeMirror-activeline-background { background: #FFB6C1; }
.cm-s-pink .CodeMirror-matchingbracket { text-decoration: underline; }
.cm-s-pink.CodeMirror {
  background-image: var(--main-background-image);
}